@font-face {
  font-family: 'Roboto';
  src: url('/public/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

body, .pagina-principal {
  font-family: 'Roboto', sans-serif;
}

.main-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0rem;
  color: #003865; /* o el color que prefieras */
}


/* === HEADER FIJO === */
header {
  background-color: #003865;
  color: white;
  padding: 0 20px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  width: 100%;
  display: flex;
  margin-left: 10px;
  justify-content: left;
  align-items: center;
  border-bottom: 3px solid #D9E9FF; 
}
.navbar-name{
  display: flex;
  justify-content: left;
  margin-left: 20px;  
}
.navbar-center {
  flex: 1;
  display: flex;
  justify-content: left;
  margin-left: 50px;
}

.logo {
  font-size: 1.1rem;
  font-weight: bold;
}

/* === CONTENIDO BAJO EL HEADER === */
.container {
  margin-top: 48px;
  display: flex;
  min-height: calc(100vh - 48px);
}

/* === ASIDE MENU LATERAL === */
.sidebar {
  width: 250px;
  background-color: #003865;
  padding: 10px;
  overflow-y: auto;
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
  flex-direction: column;
  display: flex;
}

.sidebar:not(.open) {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.menu-lateral {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  object-fit: contain;
}
.sidebar-footer{
  margin-top: auto;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid#cdc9c9;
}
.sidebar-logo-icon{
  width: 70px;
  filter: brightness(2);
  transition: opacity 0.3s ease;
}
.footer-sidebar-name{
  color: white;
  font-size: xx-small;
}

.dropdown-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.80rem;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 5px;
}

.dropdown-btn i {
  margin-left: 6px;
  font-size: 0.75rem;
}
/*Menu Segmento 1*/
.dropdown-btn:hover {
  background-color: #ffd9dc3f;
  color: white;
  font-weight: bold;
  margin-top: 1px;
}

/* === SUBMENÚS === */
.submenu-vertical {
  list-style: none;
  padding-left: 15px;
  margin: 2px 0;
  border-left: 2px solid #cccccc47;
  font-size: 12px;
}

.submenu-vertical li {
  margin-bottom: 10px;
}
/*Menu segmento*/
.submenu-vertical button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  color: white;
  font-size: 12px;
}

.submenu-vertical button:hover {
  background-color: #e8e8e8;
  color: #003865;
}

/* Icono flecha */
.sub-dropdown > .dropdown-btn::after {
  content: "◹";
  color: blanchedalmond;
  float: right;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.sub-dropdown.open > .dropdown-btn::after {
  transform: rotate(90deg);
  content: "🞂";
}

.sub-dropdown.open > .submenu-vertical {
  display: block;
}

/* === CONTENIDO PRINCIPAL === */
main {
  flex: 1;
  padding: 1rem;
  overflow: auto;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

/* === BOTÓN DE MENÚ HAMBURGUESA === */
.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  padding: 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: none;
}

.menu-button span {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu-button:hover span {
  background-color: #3b83f6;
  transform: scaleX(1.2);
}

/* === FOOTER === */
footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 1px;
  font-size: 0.85rem;
  color: #555;
  border-top: 1px solid #ddd;
}

/* ÍCONO Principal */
.home-icon-img {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

/* Fondo uniforme al abrir un submenú hijo */
.sub-dropdown.open > .submenu-vertical {
  background-color: #d9e9ff23;
  padding: 0px 2px;
  border-left: none;
  margin-left: 25px;
  font: bold;
  border-radius: 4px;
  font-size: 90%;
}

/* Ajustes para los botones del submenú */
.submenu-vertical button {
  background-color: transparent;
}

.submenu-vertical button:hover {
  background-color: transparent;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  font-weight: bold;
  border-left: 4px solid #0066c2;
}


/* ÍCONO HOME */
.home-icon-button {
  background: transparent;
  border: white;
  cursor: pointer;
  padding: 4px;
  align-items:center;
  justify-content: right;
}

.home-icon-img:hover {
  background: rgba(255, 255, 255, 0.262); 
  border-radius: 4px;
}

.parrafo1{
  font-size:1.4cqmax;
  margin-right: 25%;
  margin-left: 10%;
  text-align: justify;
  border-left: 10px solid #85baff;
  padding: 0 20px;
}